server:
  port: 8080

spring:
  application:
    name: bank-rest

  datasource:
    url: jdbc:postgresql://localhost:5432/bank_cards
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: public

  liquibase:
    change-log: classpath:db/migration/db.changelog-master.yaml
    enabled: true
    default-schema: public

jwt:
  secret: your-256-bit-secret-key-change-this-in-production-please-make-it-longer
  expiration: 86400000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.example.bankrest: DEBUG
    org.springframework.security: DEBUG
